body{
  color: white;
  background-image: url("file:///C:/Users/sccm/Downloads/180416_SCALA_SHAWN_MENDES_01_156%20(1).webp");
  background-position:center: Mendes;
  background-size:contain;
}
p.outset {border-style: outset;}
}
